* {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  margin-top: 4.5rem;
}

.d-none {
  display: none;
}

.width-100 {
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: blue;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
